@import '@/styles/_mixin.scss';

.main {
  padding: 2rem;

  @include responsive {
    padding: 1rem;
  }
}

.header {
  font-size: xx-large;

  @include responsive {
    font-size: large;
  }
}

.sectionTitle {
  font-size: x-large;
  padding-left: 1rem;

  @include responsive {
    font-size: medium;
    padding-left: 0.5rem;
  }
}

.prefectureContainer {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0 2rem;
  gap: 1rem;

  @include responsive {
    font-size: medium;
    padding: 0 1rem;
    justify-content: center;
  }
}

.generationContainer {
  margin-top: 2rem;
  padding: 2rem;
  font-size: large;
  font-weight: bold;

  @include responsive {
    text-align: center;
  }
}
